header.header.flex
    .header-content.flex
        .header-title
            h1 AniBase
        .header-nav-section.flex
            ul.nav-list.flex
                li
                    a(href="/") Home
                li
                    a(href="/account") Account
                li
                    a(href="#") Anime List
